.container {
  position: relative;
  text-align: center;
  color: white;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Monospace",Lucida Console
}

.typewriter h1 {
  font-family: "Monospace",Lucida Console;
  color: white;
  /* overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-left: 5%;
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing .75s steps(40, end),
    blink-caret .75s step-end infinite;
}

.pill {
  background-color: #bebebe;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.active {
  background-color: #444;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}


/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-family: "Monospace",Lucida Console
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1s blink infinite }
.loader__dot:nth-child(2) { animation-delay: 250ms }
.loader__dot:nth-child(3) { animation-delay: 500ms }